#contact {
  padding: 10vh 7vw;
  background-color: black;
  color: white;
}

#contact h1 {
  font-size: 6vh;
}

#contact p {
  opacity: 0.7;
  font-size: 2vh;
  padding-right: 5vw;
  margin-top: 2vh;
}

#contact form {
  width: 100%;
}

#contact input[type="text"],
textarea {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  width: 100%;
  display: inline-block;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 1vh 1vw;
  font-size: 1.7vh;
}


#contact input[type="text"] {
  border-radius: 1vh 1vh 0vh 0vh;

}

#contact textarea {
  border-radius: 0vh 0vh 1vh 1vh;
}

#contact button {
  color: white;
  text-decoration: none;
  border: 0.1vh solid var(--primaryColor);
  padding: 1vh 1vw;
  border-radius: 1vh;
  margin-right: 1vw;
  transition-duration: 0.3s;
  display: block;
  font-size: 1.9vh;
  background-color: transparent;
  margin-top: 1vh;

}

#contact button:hover {
  background-color: var(--primaryColor);
}