footer {
  padding: 3vh 7vw;
  background: linear-gradient(360deg, rgba(14, 1, 1, 0.97), rgb(0, 0, 0)), url(/img/featureBG.webp);
}

footer a img {
  width: 8vh;
  margin-bottom: 2vh;
}

footer .partnersSection {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.267);

}

footer .partnersSection h3 {
  font-size: 1.6vh;
}

footer .partnersSection .rightSide img {
  width: 3vh;
  opacity: 0.3;
}

footer p {
  font-size: 1.6vh;
  color: rgba(255, 255, 255, 0.267);
}

footer a {
  color: var(--primaryColor);
  text-decoration: none;
}

@media (max-width: 1024px) and (max-aspect-ratio: 13/9) {
  footer {
    text-align: center;

  }

  footer .partnersSection {
    display: inline-block;
  }

  footer .partnersSection .leftSection a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}