:root {
  --bgPrimary: rgb(4, 2, 12);
  --primaryColor: rgb(148, 64, 60);
}

html,
body {
  background-color: var(--bgPrimary);
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}