:root {
  --bgPrimary: rgb(4, 2, 12);
  --primaryColor: rgb(148, 64, 60);
}

html,
body {
  background-color: var(--bgPrimary);
  overflow-x: hidden;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

#globalDecorator {
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.globalParticle {
  width: 2vh;
  height: 2vh;
  background: linear-gradient(270deg, var(--primaryColor), transparent);
  position: fixed;
  pointer-events: none;
  border-radius: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 0.3vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #160000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primaryColor);
}

@font-face {
  font-family: Railey;
  src: url("/fonts/Railey.ttf");
}