---
---
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SaltaDev - Reglamento de Conducta</title>
  {% include preimports.html %}
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/reglamento.css">
  <style>
    header {
      padding: 15vh 0 10vh;
      background: linear-gradient(195deg, rgba(0, 0, 0, 0.97), rgba(0, 0, 0, 0.9)), url(/img/featureBG.webp);
      background-size: cover;
      background-position: center;
      min-height: 60vh;
      display: flex;
      align-items: center;
    }
    
    header .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 30px;
      width: 100%;
    }
    
    .header-content {
      text-align: center;
      margin: 0 auto;
      max-width: 900px;
    }
    
    header h1 {
      text-align: center;
      font-size: 5vh;
      margin-bottom: 3vh;
      color: white;
    }
    
    header h2 {
      text-align: center;
      font-size: 3vh;
      margin-bottom: 2vh;
      color: white;
    }
    
    header p {
      text-align: center;
      font-size: 2vh;
      margin-bottom: 3vh;
      color: white;
    }
    
    .headerButton {
      display: inline-block;
      margin-top: 2vh;
    }
    
    .background-effects {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;
      z-index: 1;
    }
  </style>
</head>

<body>

  {% include nav.html %}

  <header>
    <div class="container">
      <div class="header-content">
        <h1><b>REGLAMENTO</b> DE CONDUCTA</h1>
        <h2>Normas para crear un ambiente seguro y respetuoso para toda nuestra comunidad</h2>
        <p>Este código de conducta establece los lineamientos para la participación en la comunidad SaltaDev, con el objetivo de fomentar un entorno inclusivo, colaborativo y libre de acoso para todos los miembros.</p>
        <a href="#contact" class="headerButton">¡Contáctanos!</a>
      </div>
    </div>
    
    <div class="background-effects">
      <div style="position:absolute; top:0; left:50%; filter: blur(5vh); width: 200vh; height: 200vh; background: radial-gradient(closest-side, rgba(255, 0, 0, 0.178), transparent); transform: translate(-50%, 0); z-index: -1;"></div>
      <div style="position:absolute; top:0; left:50%; filter: blur(5vh); width: 400vh; height: 400vh; background: radial-gradient(closest-side, rgba(255, 0, 0, 0.171), transparent); transform: translate(-50%, 0); z-index: -1;"></div>
    </div>
  </header>

  <section id="reglamento">
    <div class="row">
      <div class="col-12">
        <h1>Reglamento de <b>Conducta Interno</b></h1>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>1. Propósito</h2>
        <p>El propósito principal de SaltaDev es crear una comunidad inclusiva donde todos los participantes se sientan bienvenidos y seguros. Valoramos la participación de cada miembro y queremos que todos tengan una experiencia agradable y enriquecedora. En consecuencia, se espera que todos los participantes muestren respeto y cortesía hacia los demás a lo largo de su participación en la comunidad.</p>
        <p>Este código de conducta establece nuestras expectativas para todos los que participan en nuestra comunidad, así como las consecuencias de un comportamiento inaceptable.</p>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>2. Comportamiento Esperado</h2>
        <p>Los siguientes comportamientos se esperan y se solicitan de todos los miembros de la comunidad:</p>
        <ul>
          <li>Participar de manera auténtica y activa.</li>
          <li>Ejercer la consideración y el respeto en el habla y las acciones.</li>
          <li>Intentar la colaboración antes del conflicto.</li>
          <li>Abstenerse de comportamientos y discursos denigrantes, discriminatorios o acosadores.</li>
          <li>Ser consciente de su entorno y de sus compañeros participantes.</li>
          <li>Alertar a los líderes de la comunidad si nota una situación peligrosa, alguien en peligro, o violaciones de este Código de Conducta.</li>
        </ul>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>3. Comportamiento Inaceptable</h2>
        <p>Los siguientes comportamientos se consideran acoso y son inaceptables dentro de nuestra comunidad:</p>
        <ul>
          <li>Comentarios ofensivos relacionados con género, identidad y expresión de género, orientación sexual, discapacidad, enfermedad mental, capacidad neurotípica, apariencia física, tamaño corporal, edad, raza, o religión.</li>
          <li>Comentarios no deseados sobre las elecciones y prácticas de estilo de vida de una persona, incluyendo aquellos relacionados con alimentos, salud, crianza de los hijos, drogas y empleo.</li>
          <li>Insultos o bromas deliberadas.</li>
          <li>Lenguaje o imágenes sexuales gratuitas o fuera de tema en espacios donde no son apropiados.</li>
          <li>Contacto físico sin consentimiento o después de una solicitud de detención.</li>
          <li>Amenazas de violencia.</li>
          <li>Incitación a la violencia hacia cualquier individuo, incluyendo alentar a una persona a suicidarse o a hacerse daño a sí misma.</li>
          <li>Intimidación deliberada.</li>
          <li>Acecho o seguimiento.</li>
          <li>Fotografía o grabación acosadora, incluyendo registro de actividad online para propósitos de acoso.</li>
          <li>Interrupción sostenida de eventos físicos o discusiones en línea.</li>
          <li>Atención sexual no deseada.</li>
          <li>Patrón de contacto social inapropiado, como solicitar/asumir niveles inapropiados de intimidad con otros.</li>
          <li>Continuación de comunicación uno-a-uno después de solicitudes de cese.</li>
          <li>Publicar o amenazar con publicar información de identificación personal de otros sin su permiso explícito.</li>
          <li>Publicación de comunicaciones privadas sin consentimiento.</li>
          <li>Cualquier conducta que razonablemente podría considerarse inapropiada en un entorno profesional.</li>
        </ul>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>4. Consecuencias de Comportamiento Inaceptable</h2>
        <p>El comportamiento inaceptable de cualquier miembro de la comunidad no será tolerado.</p>
        <p>Se espera que las personas a las que se les pida detener cualquier comportamiento inaceptable cumplan inmediatamente.</p>
        <p>Si un miembro de la comunidad se involucra en un comportamiento inaceptable, los organizadores de la comunidad pueden tomar cualquier acción que consideren apropiada, incluyendo una prohibición temporal o expulsión permanente de la comunidad sin advertencia.</p>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>5. Directrices para Reportar</h2>
        <p>Si estás experimentando o presenciando un comportamiento inaceptable, o tienes otras preocupaciones, por favor notifica a los organizadores de la comunidad tan pronto como sea posible.</p>
        <p>Adicionalmente, los organizadores de la comunidad están disponibles para ayudar a los miembros de la comunidad a comprometerse con las fuerzas del orden locales o para ayudar a aquellos que experimentan un comportamiento inaceptable a sentirse seguros.</p>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>6. Alcance</h2>
        <p>Esperamos que todos los participantes de la comunidad (miembros, colaboradores, patrocinadores y otros invitados) cumplan con este código de conducta en todos los espacios de la comunidad, así como en todas las comunicaciones uno-a-uno pertinentes a los asuntos de la comunidad.</p>
      </div>

      <div class="col-12 reglamentoSection">
        <h2>7. Contacto</h2>
        <p>Para contactar con los organizadores sobre este código de conducta, puedes comunicarte a través de los siguientes medios:</p>
        <ul>
          <li>Email: <a href="mailto:info@salta.dev">info@salta.dev</a></li>
          <li>Discord: <a href="https://discord.com/invite/kqzWbStGQ6" target="_blank">Enlace de invitación a la comunidad en Discord</a></li>
          <li>WhatsApp: <a href="https://chat.whatsapp.com/Kxy7Kl87lWf0Ta1rhKdoE3" target="_blank">Enlace de invitación a la comunidad en WhatsApp</a></li>
        </ul>
      </div>
    </div>
  </section>

  {% include contact.html %}

  {% include footer.html %}

  {% include postimports.html %}

</body>

</html>