<section id="contact">
  <div class="row">
    <div class="col-6">
      <h1>¡Estamos aquí para vos!</h1>
      <p>Si estás interesado en colaborar activamente con la comunidad o en brindar apoyo o patrocinio, no dudes en contactarnos. Estamos siempre atentos a quienes deseen formar parte de este crecimiento comunitario.</p>
    </div>
    <div class="col-6">
      <form action="mailto:comusaltadev@gmail.com">
        <input type="text" placeholder="Asunto" name="subject" required>

        <textarea name="body" id="" cols="30" rows="10" placeholder="Mensaje" required></textarea>
        <button type="submit" class="headerButton">Enviar</button>
      </form>
    </div>
  </div>


</section>