<footer>
  <div class="partnersSection">
    <div class="leftSection">
      <a href="/">
        <img src="/img/logo-text.webp" alt="">
      </a>
      <p>Conectamos a la comunidad IT de Salta. Un espacio para aprender, compartir y crecer en tecnología.</p>

    </div>
    <div class="rightSide">
      <h3>Patrocinadores</h3>
      <a href="https://cloudycoding.com" target="_blank">
        <img src="/img/cloudy.webp" alt="">
      </a>
    </div>

  </div>
  <p>© 2025 SaltaDev - Todos los derechos reservados - Website hecho con ❤️ por <a href="https://www.linkedin.com/in/emanuel250/" target="_blank">Emanuel Guzman</a> </p>
</footer>