<nav>
  <div class="leftSide">

    <a href="/" class="d-block overflow-hidden" id="navLogo">
      <div class="notHoverContainer d-block overflow-hidden" style="height: 5vh;">
        <img src="/img/logo-text.webp" alt="" class="notHover">
      </div>
      <div class="inHoverContainer">
        <img src="/img/logo.webp" alt="" class="inHover">

      </div>
    </a>
  </div>

  <div class="rightSide">
    <a href="/courses" class="d-block ">Cursos</a>
    <a href="/jobs" class="d-block">Oportunidades</a>
    <a href="/community" class="d-block">Comunidad</a>
    <a href="/places" class="d-block">Lugares</a>
    <a href="/devs" class="d-block">Desarrolladores</a>
  </div>

</nav>

<script src="/js/nav.js">
</script>