<nav id="nav">
  <div class="leftSide">

    <a href="/" class="d-block overflow-hidden" id="navLogo">
      <div class="notHoverContainer d-block overflow-hidden" style="height: 5vh;">
        <img src="/img/logo-text.webp" alt="" class="notHover">
      </div>
      <div class="inHoverContainer">
        <img src="/img/logo.webp" alt="" class="inHover">

      </div>
    </a>
  </div>

  <div class="rightSide" id="rightSide">
    <!-- <a href="/courses" class="d-block ">Cursos</a> -->
    <!-- <a href="/jobs" class="d-block">Oportunidades</a> -->
    <a href="/#aboutUs" class="d-block">Comunidad</a>
    <a href="/#staff" class="d-block">Staff</a>
    <a href="/#partners" class="d-block">Empresas</a>
    <a href="/events" class="d-block">Eventos</a>
    <a href="/reglamento" class="d-block">Reglamento</a>
  </div>


  <div id="toggleContainer">

    <a class="d-block overflow-hidden" id="navToggle">
      <div class="notHoverContainer d-block overflow-hidden" style="height: 5vh;">
        <i class="fa-solid fa-bars d-block notHover"></i>
      </div>
      <div class="inHoverContainer">
        <i class="fa-solid fa-x d-block inHover"></i>

      </div>
    </a>
  </div>
</nav>

<script src="/js/nav.js">
</script>