@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper {
  position: relative;
  height: 25vh;
}

.countdown-container {
  font-family: "Poppins", Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 75vw !important;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.countdown {
  display: flex;
  transform-style: preserve3d;
  perspective: 1vh;
  height: 10vh;
  width: 50vw;
  margin: 0 auto;
}

.countdown.remove {
  animation: hide-countdown 1s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
  overflow: hidden;
}

.number,
.separator {
  display: block;
  color: WHITE;
  height: 20vh;
  font-size: 15vh;
  position: relative;
  line-height: 10rem;
  text-align: center;
  width: 100%;
}

.separator {
  margin: 0;
  width: 2rem;
}

.new,
.old,
.current {
  color: white;
  position: absolute;
  border-radius: 1rem;
  height: 10rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.new {
  animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards;
}

.old {
  animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
}

.countdown section {
  position: relative;
}

#js-days:after,
#js-hours:after,
#js-minutes:after,
#js-seconds:after {
  content: "DÍAS";
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: -80px;
  font-size: 2vh;
}

#js-hours:after {
  content: "HORAS";
}

#js-minutes:after {
  content: "MINUTOS";
}

#js-seconds:after {
  content: "SEGUNDOS";
}

header h1 {
  font-size: 4vh;
  margin-bottom: 5vh;
  font-weight: bold;
}

header h2 {
  font-size: 2.5vh;
  margin-top: 3vh;
}

header p {
  text-align: center;
  font-size: 1.75vh;
}

header {
  text-align: center;
}

header .headerButtons {
  align-items: center;
  justify-content: center;
}

header b {
  color: var(--primaryColor);
}


header .col-6 {
  height: auto;
}

header .subRow {
  height: auto;
  text-align: left;
}

header .subRow p {
  text-align: left;
}

header .subRow .col-6 {
  height: auto;
}

header .subRow .headerButtons {
  height: 100%;
  margin-top: 0px;
}

header .mainContent {
  transform: translateY(5vh);
}

#events {
  padding-top: 20vh;
}

@keyframes hide-countdown {
  to {
    height: 0;
    overflow: hidden;
  }
}

@keyframes show-new {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes hide-old {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
  }
}

@media (max-width: 1024px),
(max-aspect-ratio: 13/9) {

  .countdown-container {
    width: 100vw;
    text-align: center;
  }

  .countdown {
    width: 100% !important;
  }

  .number,
  .separator {
    height: 12vh;
    font-size: 5vh;
    position: relative;
    line-height: 10rem;
    text-align: center;
    width: 100%;
  }

  .wrapper {
    height: 20vh;
  }

  .separator {
    transform: translateY(-3vh);
  }

  #js-days:after,
  #js-hours:after,
  #js-minutes:after,
  #js-seconds:after {
    font-size: 1.5vh !important;
  }

  header .subRow .col-4,
  header .subRow .col-8 {
    width: 100%;
    text-align: center;
  }

  header .subRow .col-8 p {
    text-align: center;
  }

  header .subRow .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .subRow .col-4 .headerButtons {
    width: auto;
    margin-top: 2vh;
  }
}